.showme a{
    padding: 0.8rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: aliceblue !important;
    text-decoration: none !important;
    background-color: #e95757;
    border-radius: 30px;
    border: none !important;
    transition: transform 0.2s ease-in-out;
}