.sider{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    height: 300px;
    justify-content: space-between;
    top: 240px;
    left: 50px;
}

@media (max-width: 1024px){
    .sider{
        display: none;
    }
}