.blog-header{
    background-color: #242526 !important;
    padding-top: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #282929;
}


.blog{
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding-top: 5%;
    background-color: #18191A;
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-menu{
    width: 15%;
    display: flex;
    flex-direction: column;
}

.blog-menu ul{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 70px;
    border-bottom: 1px solid #a2a2a2;
}

.blog-menu ul li{
    padding: 15px 0;
}

.blog-menu ul li a{
    text-decoration: none !important;
    color: white !important;
    font-size: 1.3rem;
    font-weight: bold;
    border: none !important;
}

.blog-menu ul li a:hover{
    color: #CC3536 !important;
}

.blog-menu ul li .blog-icon{
    margin-right: 10px;
    padding: 0;
    border: none !important;
    font-size: 1.2rem;
}

/* .blog-menu ul :last-child{
    padding-bottom: 70px;
    border-bottom: 1px solid #a2a2a2;
} */

.blog-recent{
    position: fixed;
    bottom: 2%;
    font-size: 1.2rem;
    width: 15%;
    overflow: hidden;
    height: 350px;
}

.recent{
    margin: 20px;
}

.blog-recent h3{
    margin: 20px 24px;
}


.blog-recent h4{
    margin: 0;
    margin-bottom: 10px;
}

.blog-recent .recent-title{
    margin: 0 ;
    margin-bottom: 10px;
    font-size: 1.1rem;
    overflow: hidden;
    text-wrap: nowrap;
    font-weight: 300;
    text-overflow: ellipsis;
}

.blog-recent .recent-date{
    font-size: 0.8rem;
    color: #A7AAAE;
    margin: 0 ;
}

.blog-container{
    width: 53%;
    height: auto !important;
    text-align: center;
    min-width: 560px;
}

.container-format{
    background-color: #242526 !important;
    margin: 20px 0;
    height: auto;
    padding: 20px 30px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blog-container h2{
    font-size: 1.4rem;
    margin: 10px 0;
}

.blog-container .container-date{
    font-size: 0.8rem;
    color: #A7AAAE;
    font-weight: bold;
    margin: 10px 0;
}

.blog-container .container-content{
    font-size: 1.1rem;
    font-weight: lighter;
    margin: 10px 0;
    text-align: left !important;
}

.blog-container img{
    width: auto;
    height: 400px;
    max-width: 90%;
    min-width: 500px;
}

.blog-infor{
    display: flex;
    flex-direction: column;
    width: 22%;
}

.blog-aboutme{
    position: fixed;
    margin-top: 50px;
}

.blog-img{
    width: 250px;
    height: auto !important;
    border-radius: 50%;
}

.blog-aboutme p{
    font-size: 1rem;
    font-weight: 50;
    color: #999999;
    text-align: center;
    width: 250px;
}

.blog-contact{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 250px;
    background-image: linear-gradient(to right, #8b1426e7, #ca29bd87);
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
}

.blog-contact span{
    margin: 10px 0;
}

.fill{
    background-color: #282929;
    padding-right: 20px !important;
    padding-left: 20px !important;
    border-radius: 10px;
}

.read-more-container {
  position: relative;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: auto !important;
}

.text.expanded {
  overflow: visible;
  display: block;
}

.read-more-link {
  color: rgb(144, 144, 144);
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
  display: block;
}

@media(max-width:1200px){
    .blog{
        justify-content: space-around;
    }

    .blog-infor{
        display: none;;
    }
}

@media(max-width:850px){
    .blog-recent{
        display: none;
    }

    .blog-menu ul{
        width: 20px;
        overflow: hidden;
        flex-direction: row;
        padding: 0;
        border: none;
    }

    .blog-menu ul li{
        margin: 0;
    }
}

@media(max-width:450px){
    .blog{
        display:flex;
        flex-direction: column;
    }

    .blog-menu{
        width: 100%;
        
    }

    .blog-menu ul{
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: visible;
        justify-content: space-around;
        
    }

    .blog-menu ul li{
       width: auto !important;
       padding-right: 2%;
    }

    .blog-container{
    width: 90%;
    min-width: 0px;
    margin-left: 4%;
}


.blog-container h2{
    font-size: 1.2rem;
    margin: 10px 0;
}

.blog-container .container-date{
    font-size: 0.7rem;
    color: #A7AAAE;
    font-weight: bold;
    margin: 10px 0;
}

.blog-container .container-content{
    font-size: 1rem;
    font-weight: lighter;
    margin: 10px 0;
    text-align: left !important;
}

.blog-container img{
    width: auto;
    height: 200px;
    max-width: 90%;
    min-width: 0px;
}
}
